@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {padding: 0; margin: 0;}
body {background-color: #FCFAEE;}
li {list-style: none;}
p {cursor: pointer;}
a {text-decoration: none;}


.wing {
    position: absolute;
    top: 200px; right: -220px;
    width: 150px; height: 100px;
    border: 1px solid #777;
    box-sizing: border-box;
    animation-name: upDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
@keyframes upDown {
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}
.wing .wing_txt {
    position: absolute;
    top: 20px; left: 35px;
    font-family: 'S-CoreDream-3Light';
    font-size: 12px;
    line-height: 20px;
}
.container {
    position: relative;
    width: 680px; height: 525px;    
    border: 4px solid #000;
    margin: 80px auto 0px;
}
.find_member {
    position: absolute;
    top: 15px; left: 21px;
    width: 640px; height: 495px;
    font-family: 'Pretendard-Regular';  
    background-color: #FCFAEE;
    border: 3px solid #000;
    box-sizing: border-box;
}
.find_member h1 {
    margin: 20px 0px 10px;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
}
.find_member .home {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute; top: 5px; right: 10px;
    width: 45px;
}
.find_member .home a {
    font-size: 12px;
    color: #000;
}
.find_member ul {position: relative; margin-top: 80px;}
.find_member .find_id {margin-top: 80px;}
.find_member .find_pw {margin-top: 50px;}

.find_member ul h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'S-CoreDream-3Light';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    padding-left: 47px;
    margin-bottom: 20px;
}
.find_member ul h5::after {
    position: absolute; bottom: -2px; left: 43.5px;
    content: '';
    width: 550px; height: 1px;
    background-color: #ccc;

}
.find_member ul #info_chk {
    font-size: 11px;
    padding-right: 50px;
    cursor: pointer;
}
.find_member ul li label {
    display: inline-block;
    width: 70px;
    margin-right: 30px;
}
.find_member ul li {
    display: flex;
    align-items: center;
    width: 370px;
    position: relative;
    margin: 0px 0px 10px 107px;
}
.find_member ul li input {
    width: 250px; height: 30px;
    padding-left: 15px;
}
.find_member .find_btn {
    width: 95px; height: 30px;
    position: absolute; bottom: 2px; right: 45px;
    font-size: 15px;
    transition: all 0.3s;
}
.find_member .find_btn:hover p {
    color: #000;
    border: 1px solid #222;
    background-color: #FCFAEE;
    box-sizing: border-box;
}
.find_member .find_btn p {
    width: 95px; height: 30px; line-height: 30px;
    text-align: center;
    background-color: #eee;
    margin-bottom: 10px;
    cursor: pointer;
}
.find_member .btn02 p {
    color: #fff;
    background-color: #333;
}
.find_member .alert {
    display: none;
    position: absolute; bottom: -30px; left: 212px;
    font-size: 12px;
    color: #E97272;
}

#alert {
    display: none;
    position: absolute; top: 200px; left: 50%;
    transform: translateX(-50%);
    width: 300px; height: 120px; 
    font-family: 'Pretendard-Regular';
    background-color: #FCFAEE;
    border: 5px double #000;
    border-radius: 3px;
}
#alert p {
    display: none;
    position: absolute; top: 40px; left: 60px;
}
#alert span {
    position: absolute; top: 85px; right: 20px;
    font-size: 14px;
    color: #fff;
    background-color: #333;
    padding: 3px 10px;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
}
#alert span:nth-child(1) {right: 70px;}
#alert span:hover {
    color: #333;
    border: 1px solid #333;
    background-color: #FCFAEE;
    box-sizing: border-box;
}
#deli_chk {display: none;}


.banner_img {
    width: 640px; height: 200px;
    margin: 20px auto 30px;
}
.banner_img img {
    width: 100%; height: auto;
}
.info {
    overflow: hidden;
    width: 640px; 
    margin: 0px auto;
}
.info li {
    float: left;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    color: #aaa;
    margin-right: 50px;
}
.info li:nth-child(1) {
    font-family: 'Bookk Myungjo';
    color: #222;
    margin-right: 20px;
}
.info li:nth-child(2) {
    color: #222;
}
.info li:nth-child(4) {
    border-bottom: 1px solid #aaa;
}
